@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,700');


body {
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #fff;
}
*:hover{
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.layout_padding {
	padding: 75px 0;
}

.layout_padding-top {
	padding-top: 75px;
}

.layout_padding-bottom {
	padding-bottom: 75px;
}

/*header section*/
.nav-item{
    text-align: center;
}


.logo-anga{
	height: 5rem;
	width: 5rem;
    border-radius: 50%;
	margin-top: 0.5rem;
	position: absolute;
	margin-right: auto;
	position: sticky;
}

.header_section {
	font-family: "Poppins", sans-serif;

	background-image: url(../images/shape-1.png);
	background-repeat: no-repeat;
	background-size: 30% 80px;
}

/* 
.header_section::before {
  content: "";

  position: absolute;
  background-repeat: no-repeat;
  content: "";
  width: 33%;
  height: 100%;
  background-size: cover;
  background-image: url(../images/shape-1.png);
} */

.header_section .nav_container {
	margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
	text-transform: uppercase;
	padding: 10px 25px;
	color: #000101;
}

a,
a:hover,
a:focus {
	text-decoration: none;
}

a:hover,
a:focus {
	color: initial;
}

.btn,
.btn:focus {
	outline: none !important;
	box-shadow: none;
}

.clipo{
	clip-path: polygon(25% 0%,100% 1%,100% 100%,25% 100%,0% 47%);
}

.custom_nav-container .navbar-toggler {}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {}

.custom_nav-container .nav_search-btn {}

.navbar {}

.nav-link:hover {}

.navbar-brand,
.navbar-brand:hover {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	color: #fafcfd;
}

.custom_nav-container .nav_search-btn {
	background-image: url(../images/search-icon.png);

	background-size: 22px;
	background-repeat: no-repeat;
	background-position-y: 7px;
	width: 35px;
	height: 35px;
	padding: 0;
	border: none;
}

.custom_nav-container {
	z-index: 99999;
	padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
	outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
	background-image: url(../images/menu.png);
	background-size: 55px;
}

/*end header section*/

/* slider section */
.slider_section {
	height: 92vh;
	background: linear-gradient(to bottom, #ff2d3b, #ED0491);
}

.slider_section::before {
	content: "";
	position: absolute;
	left: -5px;
	width: 101%;
	height: 100%;
	/* background-image: url(../images/hero1.png); */
	background-image: linear-gradient(to bottom, #ff2d3b, #ED0491), url(../images/hero1.png) !important;
	background-size: cover;
	background-repeat: no-repeat;
	z-index: -1;
	background-position: bottom;
	 /* background: linear-gradient(to bottom, #ff2d3b, #ED0491);  */

}

.slider_item-box .col-md-6 {
	display: flex;
	align-items: center;
}

.slider_item-box .slider-box-detail {
	color: #fcfdfe;
}

.slider_item-box .slider-box-detail h1 {
	font-weight: bold;
}

.slider_item-box .slider-box-detail a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 45px;
	background-color: #131212;
	border-radius: 25px;
	color: #fcfdfd;
	margin-top: 70px;
}

.number-container {
	position: absolute;
	top: 34%;

	left: 4%;
}

.number-container .number-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
}

.number-container .number-box hr {
	border: none;
	width: 2px;
	height: 85px;
	background-color: white;
}

.carousel-control {
	position: absolute;
	top: 43%;
	right: 7%;
	display: flex;
	flex-direction: column;
}

.slider_section .carousel-control-prev,
.slider_section .carousel-control-next {
	background-color: #000101;

	left: auto;
	width: 50px;
	height: 50px;
	border: 1px solid #000;
	background-color: transparent;
	opacity: 1;
	border-radius: 100%;
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: center;
}

.slider_section .carousel-control-prev {
	margin-top: 60px;
	margin-left: -46px;
	background-image: url(../images/prev.png);
}

.slider_section .carousel-control-next {
	background-image: url(../images/next.png);
}

/* end slider section */

/* about section */
.about-page .about_section {
	padding: 50px 0;
	margin: 50px 0;
}

.about-page .about_section::before {

	top: -50px;
	width: 100%;
	height: 150%;

}

.about_section {
	padding-top: 5rem;
	padding-bottom: 100px;
}

.about_section h2 {
	text-align: center;
	position: relative;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 70px;
}

.about_section h2::after {
	content: "";
	position: absolute;

	width: 110px;
	height: 4px;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);

	background-color: #ff2d3b;
}

.about_section .col-md-6 {
	display: flex;
	align-items: center;
}

.about_section::before {
	content: "";
	position: absolute;
	top: -100px;
	right: 0;
	width: 92%;
	height: 120%;
	z-index: -2;
	background-color: #f3f3fd;
}

.about_section .about-detail a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 45px;
	background-color: #ff0000;
	border-radius: 25px;
	color: #fff;
	margin-top: 70px;
}

/* end about section */

/* class section */

.class_section {}

.class_section h2 {
	text-align: center;
	font-size: 26px;
	font-weight: bold;
	margin-bottom: 70px;
	position: relative;
}

.class_section h2::after {
	content: "";
	position: absolute;
	width: 140px;
	height: 4px;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);

	background-color: #ff2d3b;
}

.class_section .class_img-box {
	width: 220px;
	height: 290px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 55px;

	background-repeat: no-repeat;
}

.class_section .class_img-box.box-img-1 {
	background: linear-gradient(0deg,
			rgba(54, 54, 54, 0.5),
			rgba(54, 54, 54, 0.8)),
		url(../images/AngaProfile.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-1:hover {
	background: linear-gradient(0deg,
			rgba(230, 56, 60, 0.8),
			rgba(230, 56, 60, 0.8)),
		url(../images/AngaProfile.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-2 {
	background: linear-gradient(0deg,
			rgba(54, 54, 54, 0.5),
			rgba(54, 54, 54, 0.8)),
		url(../images/AngaDance.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-2:hover {
	background: linear-gradient(0deg,
			rgba(230, 56, 60, 0.8),
			rgba(230, 56, 60, 0.8)),
		url(../images/AngaDance.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-3 {
	background: linear-gradient(0deg,
			rgba(54, 54, 54, 0.5),
			rgba(54, 54, 54, 0.8)),
		url(../images/AngaPic.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-3:hover {
	background: linear-gradient(0deg,
			rgba(230, 56, 60, 0.8),
			rgba(230, 56, 60, 0.8)),
		url(../images/AngaPic.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-4 {
	background: linear-gradient(0deg,
			rgba(54, 54, 54, 0.5),
			rgba(54, 54, 54, 0.8)),
		url(../images/AngaSnehal.jpeg);
	background-size: cover;
}

.class_section .class_img-box.box-img-4:hover {
	background: linear-gradient(0deg,
			rgba(230, 56, 60, 0.8),
			rgba(230, 56, 60, 0.8)),
		url(../images/AngaSnehal.jpeg);
	background-size: cover;
}

.class_section .class_img-box a,
.class_section .class_img-box a:hover {
	color: #fff;
}

.class_section .class_section-btn {
	display: flex;
	justify-content: center;
}

.class_section .class_section-btn a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 45px;
	border: 1px solid #ff0000;
	border-radius: 25px;
	color: #ff0000;
	margin-top: 70px;
}

/* end class section */

/* master section */
.dance_page .master_section::before {
	background-color: #ee3c3d;
	top: 0;
	height: 140%;
}

.dance_page .master_section {
	padding: 0;
	padding-top: 100px;
	margin-bottom: 0;
}

.master_section {
	position: relative;
}

.master_custom-container {
	width: 55%;
	margin: 0 auto;
	margin-bottom: 115px;
}

.master_section::before {
	content: "";
	position: absolute;
	top: -150px;
	height: 145%;
	width: 100%;
	background-image: url(../images/master-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;
}

.master_section h2 {
	text-align: center;
	font-size: 26px;
	color: #fff;
	font-weight: bold;
	margin-bottom: 70px;
	position: relative;
}

.master_section h2::after {
	content: "";
	position: absolute;
	width: 100px;
	height: 4px;
	top: 100%;
	left: 50%;
	transform: translateX(-50%);

	background-color: #fff;
}

.master_img-box {
	width: 200px;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50px;
	border: 1px solid white;
	margin-bottom: 25px;
}

.master_img-box-white {
	background-color: #fff;
}

.master_section .master_detail {
	color: #fff;
	text-align: center;
}

.master_section .master_detail h4 {
	font-size: 20px;
}

.master_section .master_content-box {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.master_section .master_section-btn {
	display: flex;
	justify-content: center;
}

.master_section .master_section-btn a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 150px;
	height: 45px;
	border: 1px solid #fff;
	border-radius: 25px;
	color: #fff;
	margin-top: 70px;
}

/* end master section */

/* contact section */
.contact_section .col-md-6 {
	padding: 0;
}

.contact_section input {
	border: none;
	outline: none;
	border-bottom: 1px solid #000;
	width: 90%;
	margin: 10px 0;
}

.contact_form-container {
	padding: 45px;
	padding-right: 0;
}

.contact_form-container button {
	border: none;
	background-color: #ef3c3d;
	color: #fff;
	padding: 8px 40px;
	border-radius: 20px;
}

.contact_img-box {
	background-image: url(../images/dots.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	align-items: center;
	padding: 45px;
	padding-left: 0;
}

.contact_img-box img {
	width: 80%;
}

.contact_section h2 {
	font-size: 26px;
	color: #010103;
	font-weight: bold;

	position: relative;
	margin-left: 2.5%;
}

.contact_section h2::after {
	content: "";
	position: absolute;
	width: 130px;
	height: 4px;
	top: 100%;
	left: 0;

	background-color: #ff2d3b;
}

/* end contact section */

/* info section */
.info_section {
	padding-top: 175px;
	padding-bottom: 1px;
	color: #fff;
	background-image: url(../images/info-bg.png);
	background-size: cover;
	background-position: left top;
	background-repeat: no-repeat;
}

.info_section .col-md-4 {
	padding: 0 30px;
}

.info_news input {
	border: none;
	width: 80%;
	height: 35px;
	border-radius: 20px;
	background-color: #fff;
	outline: none;
	padding-left: 20px;
}

.info_news button {
	border: none;
	background-color: #ef3c3d;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	padding: 7px 25px;
	border-radius: 20px;
	margin-top: 20px;
}

.info_nav nav {
	width: 70%;
	margin: 0 auto;
}

.info_nav ul {
	display: flex;
	justify-content: space-between;
	padding: 0 50px;
}

.info_nav ul li {
	list-style-type: none;
}

.info_nav ul li a {
	color: #fff;
}

.custom_border-btm {
	border-bottom: 1px solid #fff;
}

.info_social {
	display: flex;
	justify-content: space-between;
	width: 150px;
	margin: 50px auto;
}

/* end info section */

/* footer section*/

.footer_section {
	background-color: #fdfdfe;
	padding: 20px 0;
	font-family: "Roboto", sans-serif;
}

.footer_section p {
	color: #292929;
	margin: 0;
	text-align: center;
}

.footer_section a {
	color: #292929;
}

/* end footer section*/

.card-main{
    display: flex ;
    height: 70vh;
    justify-content: center;
    flex-wrap: row;
    box-shadow: 5px -3px 32px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 5px -3px 32px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 5px -3px 32px 0px rgba(0,0,0,0.75);
}

.typo{
    display: flex;
    flex-direction: column;
    align-items: center !important;
    justify-content: space-around;
    background-color: #5de6de;
    background-image:  linear-gradient(to bottom, #ff2d3b, #ED0491);
    width: 50vh;
    
   
}

 .typo h1 ,p,h4,h2{
    color: #fff;
}

.typo h1 {
    font-family: 'Libre Baskerville', serif;
}


.card-img img {

    object-fit: cover;
    height: 70vh;
 
}


.typo img{
    margin: 1rem;
    width:3rem;
    height: 3rem;
    cursor: pointer;
}

.dance{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center 

}

.main{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background: linear-gradient(to bottom, rgb(127,185,232), rgb(109,93,173)); */
    background: linear-gradient(to bottom, #ff2d3b, #ED0491);
    height: 95vh;
    background-size: cover;
    
}

.card-div{
	
	display: flex;
	justify-content: center;
}

section{
    float:left;
    width:100%;
    background: #fff;  /* fallback for old browsers */
    padding:30px 0;
}


/*Profile Card 1*/
.profile-card-1 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  color: #ffffff;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-1 .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(5px);
  filter: blur(5px);
   -webkit-transform: scale(1);
  transform: scale(1.3);
}
.profile-card-1 .card-content {
  width: 100%;
  padding: 15px 25px;
  position: absolute;
  left: 0;
  top: 50%;
}
.profile-card-1 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 10rem;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);

}
.profile-card-1 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:30px;
}
.profile-card-1 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-1 i {
  display: inline-block;
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    border: 1px solid #fff;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}


.profile-card-1 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-1 .icon-block a{
    text-decoration:none;
}
.profile-card-1 i:hover {
  background-color:#fff;
  color:#2E3434;
  text-decoration:none;
}

/*Profile card 2*/
.profile-card-2 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-2 .card-body{
    position:relative;
}
.profile-card-2 .profile {
  border-radius: 50%;
  position: absolute;
  top: -42px;
  left: 15%;
  max-width: 75px;
  border: 3px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
.profile-card-2 h5{
    font-weight:600;
    color:#6ab04c;
}
.profile-card-2 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-2 .icon-block{
    float:left;
    width:100%;
}
.profile-card-2 .icon-block a{
    text-decoration:none;
}
.profile-card-2 i {
  display: inline-block;
    font-size: 16px;
    color: #6ab04c;
    text-align: center;
    border: 1px solid #6ab04c;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-2 i:hover {
  background-color:#6ab04c;
  color:#fff;
}

/*Profile Card 3*/
.profile-card-3 {
  font-family: 'Open Sans', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  width: 100%;
  text-align: center;
  height:368px;
  border:none;
}
.profile-card-3 .background-block {
    float: left;
    width: 100%;
    height: 200px;
    overflow: hidden;
}
.profile-card-3 .background-block .background {
  width:100%;
  vertical-align: top;
  opacity: 0.9;
  -webkit-filter: blur(0.5px);
  filter: blur(0.5px);
   -webkit-transform: scale(1.8);
  transform: scale(2.8);
}
.profile-card-3 .card-content {
  width: 100%;
  padding: 15px 25px;
  color:#232323;
  float:left;
  background:#efefef;
  height:50%;
  border-radius:0 0 5px 5px;
  position: relative;
  z-index: 9999;
}
.profile-card-3 .card-content::before {
    content: '';
    background: #efefef;
    width: 120%;
    height: 100%;
    left: 11px;
    bottom: 51px;
    position: absolute;
    z-index: -1;
    transform: rotate(-13deg);
}
.profile-card-3 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  max-width: 100px;
  opacity: 1;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
  border: 2px solid rgba(255, 255, 255, 1);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
  z-index:99999;
}
.profile-card-3 h2 {
  margin: 0 0 5px;
  font-weight: 600;
  font-size:25px;
}
.profile-card-3 h2 small {
  display: block;
  font-size: 15px;
  margin-top:10px;
}
.profile-card-3 i {
  display: inline-block;
    font-size: 16px;
    color: #232323;
    text-align: center;
    border: 1px solid #232323;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-3 .icon-block{
    float:left;
    width:100%;
    margin-top:15px;
}
.profile-card-3 .icon-block a{
    text-decoration:none;
}
.profile-card-3 i:hover {
  background-color:#232323;
  color:#fff;
  text-decoration:none;
}


/*Profile card 4*/
.profile-card-4 .card-img-block{
    float:left;
    width:100%;
    height:150px;
    overflow:hidden;
}
.profile-card-4 .card-body{
    position:relative;
}
.profile-card-4 .profile {
    border-radius: 50%;
    position: absolute;
    top: -62px;
    left: 50%;
    width:100px;
    border: 3px solid rgba(255, 255, 255, 1);
    margin-left: -50px;
}
.profile-card-4 .card-img-block{
    position:relative;
}
.profile-card-4 .card-img-block > .info-box{
    position:absolute;
    background:rgba(217,11,225,0.6);
    width:100%;
    height:100%;
    color:#fff;
    padding:20px;
    text-align:center;
    font-size:14px;
   -webkit-transition: 1s ease;
    transition: 1s ease;
    opacity:0;
}
.profile-card-4 .card-img-block:hover > .info-box{
    opacity:1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}
.profile-card-4 h5{
    font-weight:600;
    color:#d90be1;
}
.profile-card-4 .card-text{
    font-weight:300;
    font-size:15px;
}
.profile-card-4 .icon-block{
    float:left;
    width:100%;
}
.profile-card-4 .icon-block a{
    text-decoration:none;
}
.profile-card-4 i {
  display: inline-block;
    font-size: 16px;
    color: #d90be1;
    text-align: center;
    border: 1px solid #d90be1;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin:0 5px;
}
.profile-card-4 i:hover {
  background-color:#d90be1;
  color:#fff;
}

/*Profile Card 5*/
.profile-card-5{
    margin-top:20px;
}
.profile-card-5 .btn{
    border-radius:2px;
    text-transform:uppercase;
    font-size:12px;
    padding:7px 20px;
}
.profile-card-5 .card-img-block {
    width: 91%;
    margin: 0 auto;
    position: relative;
    top: -20px;
    
}
.profile-card-5 .card-img-block img{
    border-radius:5px;
    box-shadow:0 0 10px rgba(0,0,0,0.63);
}
.profile-card-5 h5{
    color:#4E5E30;
    font-weight:600;
}
.profile-card-5 p{
    font-size:14px;
    font-weight:300;
}
.profile-card-5 .btn-primary{
    background-color:#4E5E30;
    border-color:#4E5E30;
}